* {
    box-sizing: border-box;
}

.display {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    border: 5px solid purple;
    overflow: scroll;
    margin-top: 10px;
}

.gameboard {
    width: 3000px;
    height: 3000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    // overflow: scroll;
}

.gridsquare,
.blank {
    // position: relative; // needed for absolute positioning of children to work
    width: 30px;
    height: 30px;
    // border: 1px solid black;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.top,
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.room {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 70%;
    height: 100%;
    background: black;
    border: 2px solid purple;
    border-radius: 50%;
    // display: flex;
}

.north-door {
    // position: absolute;
    // top: 75%;
    // left: 25%;
    width: 15%;
    height: 100%;
    background: purple;
}
.north-wall {
    // position: absolute;
    // top: 75%;
    // left: 25%;
    width: 15%;
    height: 100%;
    background: black;
}
.south-door {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 100%;
    background: purple;
}
.south-wall {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 100%;
    background: black;
}
.east-door {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 15%;
    background: purple;
}
.east-wall {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 15%;
    background: black;
}
.west-door {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 15%;
    background: purple;
}
.west-wall {
    // position: absolute;
    // top: 25%;
    // left: 75%;
    width: 15%;
    height: 15%;
    background: black;
}

// .gridsquare {
//     background-image: url('../assets/stonetile.jpg');

//     img {
//         width: 100%;
//         height: 100%;
//         z-index: 0;
//     }
// }

.player {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: rgb(1, 1, 102);
    font-weight: bold;
    // img {
    //     z-index: 2;
    //     width: 70%;
    // }
}
